<% layout("/layouts/boilerplate") -%>

<h1 style="text-align: center;">My Projects</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Amazon.png" class="card-img-top border-bottom" alt="Amazon-img">
      <div class="card-body">
        <h5 class="card-title">Amazon.com(Html And Css)</h5>
        <p class="card-text">This is an Amazon clone project built primarily using HTML and CSS.</p>
        <p style="color: orange;"><a href="/profile/projects/Amazon" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua; "><a href=" https://sashank-shaoo.github.io/Amazonclone1/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/slider.png" class="card-img-top border-bottom" alt="slider-img">
      <div class="card-body">
        <h5 class="card-title">Css-Slider(Html And Css)</h5>
        <p class="card-text">A basic slider feature implemented using HTML and CSS styling.</p>
        <p style="color: orange;"><a href="/profile/projects/CssSlider" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href=" https://sashank-shaoo.github.io/Css-SliderStyle/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Spotify.png" class="card-img-top border-bottom" alt="Spotify-img">
      <div class="card-body">
        <h5 class="card-title">Spotify(Html And Css)</h5>
        <p class="card-text">A visually stunning Spotify clone built using HTML, CSS, Google Fonts, and Font Awesome icons.</p>
        <p style="color: orange"><a href="/profile/projects/Spotify" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="https://sashank-shaoo.github.io/SpotifyClone/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Bootstrap.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">Bootstrap-card(Bootstrap framework)</h5>
        <p class="card-text">A sample page showcasing the functionality of the Bootstrap framework.
        <p style="color: orange"><a href="/profile/projects/Bootstrap" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="https://sashank-shaoo.github.io/BootStrap-Card/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/js-colorgenerater.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">JS-color generator(html,css,js)</h5>
        <p class="card-text">A JavaScript function that dynamically generates colors based on logical conditions.
        <p style="color: orange"><a href="/profile/projects/ColorGenerater" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href=" https://sashank-shaoo.github.io/JS-Color-Generator/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/js-SimonSays-game.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">SimonSays Game(js-Logic)</h5>
        <p class="card-text">Simon Says is developed using HTML and CSS, with core functionality driven by JavaScript logic.
        <p style="color: orange"><a href="/profile/projects/SimonSays" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="https://sashank-shaoo.github.io/SIMONSAYS-Game/" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/InstagramNode.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">CRUD-Operation-Demo(NodeModules)</h5>
        <p class="card-text">A beginner-friendly app illustrating the core concepts of CRUD operations.
        <p style="color: orange"><a href="/profile/projects/InstaDemo" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="/profile/projects/fileNotFound"  style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Chats.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">SQL and CRUD Operation(Sql and Node)</h5>
        <p class="card-text">A app illustrating the core concepts of CRUD operation whis SQL database.
        <p style="color: orange"><a href="/profile/projects/Crud" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="/profile/projects/fileNotFound" style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Wanderlust.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">Wanderlust(<i class="fa-solid fa-star" style="color: gold;"></i>Project)</h5>
        <p class="card-text">A functional Airbnb-inspired website built with multiple APIs and key methods.
        <p style="color: orange"><a href="/profile/projects/Wanderlust" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="https://wander-lust-d2g8.onrender.com" target="_blank" style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-white shadow-sm">
      <img src="/images/Weather.png" class="card-img-top border-bottom" alt="Bootstrap-img">
      <div class="card-body">
        <h5 class="card-title">Weather app(React.js)</h5>
        <p class="card-text">A sample page showcasing the functionality of the Bootstrap framework.
        <p style="color: orange"><a href="/profile/projects/WeatherApp" class="projecturl">Click to see details...</a></p>
        <p style="color: aqua"><a href="/profile/projects/fileNotFound"  style="text-decoration: none;">Vesite Site..</a></p>
        </p>
      </div>
    </div>
  </div>
</div>