<% layout("/layouts/boilerplate") -%>

<h1>🚀 Heads Up!</h1>
<p>Most of my projects are hosted using GitHub Pages, which only supports front-end technologies like HTML, CSS, and JavaScript. That means projects built with React or Node.js won’t run live here — but don’t worry! 💡
  You can still explore the full source code on my GitHub to see how everything works behind the scenes.</p>
<p>Stay curious and keep building! 🔧✨</p>