<% layout("/layouts/boilerplate") -%>
<h2>Terms and Conditions</h2>
<p>Effective Date: [20-07-2025]</p>

<p>Welcome to <b>Sashank sahoo's</b> personal portfolio website. By accessing or using this Website, you agree to comply with and be bound by the following terms and conditions.
</p>
<p><b>1. Use of Website</b></p>
<p>This Website is intended to showcase my personal projects, skills, and work experience. You may view or interact with the content for informational and non-commercial purposes only.
</p>
<p><b>2. Intellectual Property</b></p>
<p>All content on this Website, including but not limited to text, images, code, graphics, and design, is the intellectual property of Sashank sahoo unless otherwise stated. You may not copy, reproduce, or distribute any content without prior written permission.
</p>
<p><b>3. User Conduct</b></p>
<p>You agree not to:</p>

<p>Use the Website in any way that may cause damage to the Website or impair access.</p>

<p>Attempt to gain unauthorized access to any part of the Website.</p>

<p>Use this Website for any unlawful, harmful, or fraudulent activity.</p>

<p><b>4. External Links</b></p>
<p>This Website may contain links to third-party websites or services. We are not responsible for the content or practices of these third-party sites. Visiting them is at your own risk.
</p>

<p><b>5. Limitation of Liability</b></p>
<p>The content on this Website is provided “as is” without any warranties, express or implied. We are not liable for any damages arising from the use or inability to use the Website.
</p>

<b>6. Privacy</b>
<p>Your privacy is important. Please refer to our [Privacy Policy] for information on how we collect and use data.
</p>

<b>7. Changes to Terms</b>
<p>We reserve the right to update or change these terms at any time. Continued use of the Website after changes means you accept those updates.
</p>

<b>8. Contact</b>
<p>If you have any questions about these Terms and Conditions, please contact me at:
  Email : <a href="/profile/contact" style="text-decoration: none; color: orange;">sashanksahoo2@gmail.com, sashanksahoo8@gmail.com</a></p>