<footer>
    <div class="f-info">
        <div class="f-info-social">

        </div>
        <div> &copy; Portfolio Private Limited</div>
        <div class="f-info-links">
            <a href="/privecy">Privacy</a> ,
            <a href="/terms-and-conditions">Terms&conditions</a>
        </div>
    </div>
</footer>