<% layout("/layouts/boilerplate") -%>
<h1 class="text-center mt-2">Project Details</h1>
<div class="card mb-3 bg-transparent mt-3 mb-5 ">
  <img src="/images/Amazon.png" class="card-img-top rounded shadow w-75 mx-auto" alt="img">
  <div class="card-body">
    <h4 class="card-title text-center">Amazon Clone</h4>
    <p class="card-text text-center">“Bringing E-Commerce to Life with Pure Basics!”</p>
    <p class="card-text text-center">
      A static clone of Amazon’s homepage built using only HTML and CSS—no Flexbox, no Grid, just fundamental positioning techniques. This project helped me understand page structuring, classic layout methods, and styling large-scale interfaces from scratch.</p>
  </div>
</div>