<% layout("/layouts/boilerplate") -%>
<h1 class="text-center mt-2">Project Details</h1>
<div class="card mb-3 bg-transparent mt-3 mb-5">
  <img src="/images/Bootstrap.png" class="card-img-top rounded shadow w-75 mx-auto" alt="img">
  <div class="card-body">
    <h5 class="card-title text-center"><i class="fab fa-bootstrap"></i> Bootstrap Project</h5>
    <p class="card-text text-center">“Fast, Responsive, and Framework-Driven!”</p>
    <p class="card-text text-center">
      A responsive web project built with Bootstrap, showcasing my understanding of its grid system, utility classes, and prebuilt components. This project demonstrates how I can quickly prototype and style modern layouts using a front-end framework.</p>
  </div>
</div>