<% layout("/layouts/boilerplate") -%>
<h1 class="text-center mt-2">Project Details</h1>
<div class="card mb-3 bg-transparent mt-3 mb-5">
  <img src="/images/slider.png" class="card-img-top rounded shadow w-75 mx-auto" alt="img">
  <div class="card-body">
    <h5 class="card-title text-center"><i class="fas fa-sliders-h" style="color: purple"></i> Slider Toggle</h5>
    <P class="card-text text-center">“Interactive UI Without a Single Line of JavaScript!”</P>
    <p class="card-text text-center">
      A fully functional slider toggle built using only HTML and CSS. This project demonstrates how to create interactive components with pseudo-classes, transitions, and basic styling techniques—proving that dynamic effects aren’t limited to JavaScript.</p>
  </div>
</div>