<% layout("/layouts/boilerplate") -%>
<h1 class="text-center mt-2">Project Details</h1>
<div class="card mb-3 bg-transparent mt-3 mb-5">
  <img src="/images/Spotify.png" class="card-img-top rounded shadow w-75 mx-auto" alt="img">
  <div class="card-body">
    <h5 class="card-title text-center"><i class="fas fa-music"></i> Spotify Clone (HTML, CSS, Flexbox & Font Awesome)</h5>
    <p class="card-text text-center">“Recreating a Modern Music Experience from Scratch!”</p>
    <p class="card-text text-center">
      This project is a static replica of Spotify’s user interface, built to strengthen my understanding of modern web layout techniques. I utilized Flexbox extensively to create a structured, responsive design. To enhance the visual appeal and authenticity of the interface, I integrated Font Awesome icons, which added functional-looking controls like play, pause, and navigation buttons.
    </p>
    <p class="card-text text-center">This clone reflects my ability to analyze and recreate professional designs while focusing on best practices for layout and styling.</p>
  </div>
</div>